@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");

html {
  scroll-behavior: auto !important;
}

body {
  margin: 0;
  font-family: "Poppins" !important;
  overflow-x: hidden;
}
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  margin: 60px 0;
}

footer {
  background: #111;
  color: #bbb;
  padding: 40px;
  text-align: center;
  margin-top: auto;
}
.page-content {
  max-width: 1200px;
  margin: 20px auto 80px;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}

.badge-ingredient {
  font-size: 1em !important ;
}

.jitomate {
  background-color: #f93154;
}

.cebolla {
  background-color: #ccc;
  color: #4f4f4f !important;
}

.cilantro {
  background-color: #537150;
}

.limón {
  background-color: #c7ea46;
  color: #4f4f4f !important;
}

.sal {
  background-color: #cfd8dc;
  color: #4f4f4f !important;
}

.aceite-de-oliva {
  background-color: #cab254;
}

.aguacate {
  background-color: #cfd760;
  color: #4f4f4f !important;
}

.serrano {
  background-color: #556710;
}

.ajo {
  background-color: #f2e9d2;
  color: #4f4f4f !important;
}

.tomate-verde- {
  background-color: #dbe6be;
  color: #4f4f4f !important;
}

.árbol {
  background-color: #ac4739;
}

.agua {
  background-color: #80c5de;
}

.guajillo {
  background-color: #89372c;
}

.mask {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.recipe-card-img {
  cursor: pointer;
}
